body {
  max-width: 400px;
}

.tab {
  display: flex;
  align-items: stretch;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  flex: 1;
  display: inline-block;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tab-content {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.settings-container {
  display: flex;
  flex-direction: column;
}

.settings-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 10px;
  justify-content: space-between;
}

.settings-row > div {
  display: flex;
}

.label {
  margin-right: 0;
}

.settings-value {
  justify-content: end;
}

.library-setup {
  display: flex;
  padding: 0;
  flex-direction: column;
  padding-left: 10px;
}

.library-setup > select {
  box-sizing: border-box;
  width: 100%;
}

#filterContainer {
  display: flex;
}

#filterContainer > input {
  flex: 11;
}

#filterContainer > button {
  flex: 1;
}
